.video {
    width: 100%;
    height: 480px;
}

.react-player {
    display: contents;
}
                                                  
.card-position {
    display:flex;
    justify-content: center;
}